{% extends 'base.html' %}
{% load static %}
{% block homeactive %} active {% endblock homeactive %}
{% block title %} Home {% endblock title %}

{% block body %}
<section class="jumbotron text-center">
    <div class="container">
      <img src="{% static "img/logo.png" %}" alt="logo" width="150px">
      <h1 class="jumbotron-heading"><span id="typed">Welcome to Code</span><span class="typed-cursor"></span></h1>
      <p class="lead text-muted">Confused on which course to take? I have got you covered. Browse courses and find out
        the best course for you. Its free!<br>Code With Harry is my attempt to teach basics and those coding
        techniques to people in short time which took me ages to learn.</p>
      <p>
        <a href="/blog" class="btn btn-danger my-2">Browse Blog</a>
        <a href="/videos" class="btn btn-success my-2">Browse Video Tutorials</a>
        <a href="/contact" class="btn btn-primary my-2">Contact Me</a>
      </p>
    </div>
  </section>
{% comment %}
<div class="container">
  <h2>This is heading</h2>
  <p>This is Paragraph</p>
  <button class="btn btn-primary">Read more</button>
</div> {% endcomment %}

<div class="container">
    <div class="row">
      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
        <img src="{% static "img/card/video.png" %}" class="padded card-img-top card-image-width" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Free Video Courses</h5>
          <p class="card-text text-center">Get your programming career started with these free video courses. Source
            code is
            available with all the videos for your better experience</p>
          <a href="/videos" class="btn btn-primary d-block">Browse Video Courses</a>
        </div>
      </div>

      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
        <img src="{% static "img/card/blog.png" %}" class="padded card-img-top card-image-width" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Coding Articles</h5>
          <p class="card-text text-center">Some of the latest coding information compiled as coding articles. Keep your
            programming knowledge up to date with our coding articles.</p>
          <a href="/blog" class="btn btn-primary d-block">Go to Blog</a>
        </div>
      </div>

      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
        <img src="{% static "img/card/contact.png" %}" class="padded card-img-top card-image-width" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Contact Me</h5>
          <p class="card-text text-center">Learn programming from our free courses. Examples are available with these
            tutorials. You can contact me for any doubt and I will get back to you!</p>
          <a href="/contact" class="btn btn-primary d-block">Contact Me</a>
        </div>
      </div>

    </div>

  </div>

{% endblock body %}